@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-5">
        <h2 class="subheading">@ViewBag.Title.</h2>
        <p class="sub-body">
            This site has come about from the interest in all things Vietnam War related, particularly
            from the portrayal of the war in various movies that have inspired us to trade in uniforms
            and accessories from this period.<br /><br />
            With the knowledge that one of the producers of this site has on the real life detail
            of such uniforms (correct flashes and emblems, etc.) we are able to supply such uniforms with the 
            authenticity required by many of the enthusiasts who we hope will be inspired by the stock that we 
            are providing.
        </p>
    </div>
</div>
