@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-8">
        <h2 class="subheading">@ViewBag.Title.</h2>
        <p class="sub-body">
            We at Charlie Don't Surf will do our utmost to ensure that you, the enthuiast gets 
            the best possible experience from this website.<br /><br />
            This means supporting you fully with enquiries about the Vietnam War that can be made to 
            our period militaria expert, Clint - his email address is given below.<br /><br />
            Enquiries about the use of the site and any technical problems can be handled by our 
            support team (details below).<br /><br />
            Feel free to contact us by email at any time but please don't phone support outside of 
            UK hours 9am - 6pm, thank you in advance.
        </p>
    </div>
</div>
<br />
<address class="sub-body">
    <table>
        <tr>
            <td><strong>Support:&nbsp;&nbsp;</strong></td>
        </tr>
        <tr>
            <td> <a class="sub-body" href="mailto:support@charliedontsurf.net">Support@charliedontsurf.net</a>&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td>+(44)7564 802329</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><strong>Advice:</strong></td>
        </tr>
        <tr>
            <td><a class="sub-body" href="mailto:clint@charliedontsurf.net">Clint@charliedontsurf.net</a></td>
        </tr>
    </table>
</address>