<h2 class="subheading">No Shipping Address</h2>
<p class="sub-body">
    You currently have no Shipping Addresses defined.<br /><br /><br /><br />
    <span onclick="defineShippingAddress()" class="btn btn-primary btn-lg" style="background-color: forestgreen; border-color: antiquewhite;">Define Shipping Address &raquo;</span>
</p>
